html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    script(src="https://cdn.tailwindcss.com")
    title Order Reciept

  body(class='h-full w-full font-clash-grotesk')
    div(class='w-full bg-white p-5')
      div(class='w-max bg-[#065DA7] rounded-lg p-4')
        img(src="https://i.postimg.cc/PJVH7Jqp/THRINDLE-LOGO-white-108.png", alt="Logo" class="aspect-[39/10] w-32 lg:w-24 xl:w-32 drop-shadow-lg rounded-lg shadow-[#065DA7]")

      block content 

      footer
        p(class='mt-6') If you have any further questions or need assistance, please contact our support team at&nbsp;&nbsp;
          a(href="mailto:info@thrindle.com") info@thrindle.com.
        p(class='mt-4 font-normal text-black/60') Thank you once again for your business. We appreciate your trust in Thrindle.
        p(class='mt-6 font-normal text-black/60') Best Regards,
        p(class='mt-1 font-normal text-black/60') Yinka, Founder
        p(class='mt-1 font-normal text-black/60') Thrindle Services
        p(class='mt-1 font-normal text-black/60') No. 10, Alagomeji Street, Maryland, Lagos