@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @layer base {
    @font-face {
      font-family: 'ClashGrotesk';
      font-style: normal;
      font-weight: 100 900;
      font-display: fallback;
      src: local('ClashGrotesk'),
        url('/fonts/ClashGrotesk-Variable.woff2') format('woff2');
      unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6,
        U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193,
        U+2212, U+2215, U+FEFF, U+FFFD;
    }
  }

  .cursor-newtab {
    cursor: url('/images/new-tab.png') 10 10, pointer;
  }
}

:root {
  --primary: #ffffff;
  --secondary: #065da7;
}

/* @layer utilities {
  .animated-underline {
    background-image: linear-gradient(#33333300, #33333300),
      linear-gradient(
        to right,
        var(--color-primary-400),
        var(--color-primary-500)
      );
    background-size: 100% 2px, 0 2px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
  }
  @media (prefers-reduced-motion: no-preference) {
    .animated-underline {
      transition: 0.3s ease;
      transition-property: background-size, color, background-color,
        border-color;
    }
  }
  .animated-underline:hover,
  .animated-underline:focus-visible {
    background-size: 0 2px, 100% 2px;
  }
} */

*,
*::before,
*::after {
  @apply font-clash-grotesk;
}
* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.25rem;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 14px;
}

html,
body,
#__next {
  @apply h-full w-full;
}

.layout_container {
  @apply bg-primary-blue h-full w-full;
}

.layout_container_width {
  @apply h-full w-full max-w-[1560px];
  @apply mx-auto;
}

.layout_wrapper {
  @apply h-full w-full;
  @apply grid grid-rows-1 lg:grid-flow-col lg:grid-cols-[minmax(10rem,_22%)_1fr] xl:grid-cols-[minmax(14rem,_15%)_1fr];
}

.main_content_wrapper {
  @apply col-span-1 col-start-2 h-full w-full;
  @apply grid grid-cols-1 grid-rows-[auto_1fr];
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Hide scrollbar for WebKit-based browsers */
}

.no-scrollbar {
  overflow: -moz-scrollbars-none; /* Hide scrollbar for Firefox */
  -ms-overflow-style: none; /* Hide scrollbar for Edge and IE */
  scrollbar-width: none; /* Hide scrollbar for non-WebKit-based browsers */
}
